<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="PaginationSettings"
      type="System.Configuration.NameValueFileSectionHandler,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="username" value="podrak123"/>
    <add key="access_token" value="41b1b6da8e07bcaf41eaf26d96059f6a76038200"/>
    <add key="usersfilepath" value="users.json"/>
  </appSettings>
  <PaginationSettings>
    <add key="per_page" value="100" />
  </PaginationSettings>
</configuration>